fastapi
uvicorn
langchain_huggingface
langchain
chromadb
langchain_openai
pydantic
langchain_community
langchain_core
pymupdf
pdfminer
pdfminer.six
pi-heif
unstructured_inference
rapidocr-onnxruntime
docx2txt